@charset "UTF-8";
body{
    font-family: 'Roboto Slab', serif;
    margin: 0px;
}
.container{
    display: grid;
    grid-template-rows: 100px 500px 100px;
    grid-template-columns: 240px 1277px;
    grid-template-areas: 
    "header header"
    "sidebar content"
    "sidebar content"
    "footer footer"
}
.header{
    grid-area: header;
    text-align: center;
    background-color: darkgreen;
    color:black;
}


.sidebar{
    grid-area: sidebar;
    background-color: rgb(37, 36, 36);
}
.sidebar-mot{
    display: flex;
    align-items: center;
    border: 1px solid rgb(19, 19, 19);
    padding-left: 10px;
}

.sidebar a{
    text-decoration: none;
    color: aliceblue;
    text-align: left;

}

.content{
    grid-area: content;
    
}
.content-add{
    display:flex;
    align-items: center;
    background-color: rgb(141, 207, 159);
    justify-content: space-between;
    border: 1px;
    margin: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.content-add a{
    text-decoration: none;
    color: black;
}
.content h2{
    text-align: center;
    background-origin: padding-box;
}
.content form{
    align-self: center;
}


.footer{
    grid-area: footer;
}

