<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <script src="https://kit.fontawesome.com/0db2c388a1.js" crossorigin="anonymous"></script>
</head>
<body>
  <div id="team-details-container"></div>

  <script src="../js/club/detail-team.js"></script>
</body>
</html>